
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,input{margin:0;padding:0;}

/*input,button,select,textarea,:focus{outline:none;font-family:"Microsoft YaHei";}*/

.f12{font-size:12px !important;}
.f14{font-size:14px;}
.f16{font-size:16px !important;}

.gray{color:#999;}
.red{color:#f53b09;}
.blue{color:#006dc2;}
.green{color:green;}
.orange{color:#ff7300 !important;}
.colorS{color:#333 !important;}
.colorL{color:#666 !important;}
.colorJ{color:#999 !important;}

.fl{float:left; display:inline;}
.fr{float:right; display:inline;}

.txl{text-align:left;}
.txc{text-align:center;}
.txr{text-align:right;}

.none{display:none;}

.clearfix{zoom:1;}
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}

/*Font Icon*/
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chromeã€firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont" !important; font-size:18px;font-style:normal;float:left; -webkit-font-smoothing: antialiased; /*-webkit-text-stroke-width: 0.2px;*/ -moz-osx-font-smoothing: grayscale; }



.it-act4-head {width: 100%;height:80px;overflow: hidden;*overflow:inherit;}
.it-act4-head a {position: relative; left: 50%; top: 0; margin-left: -960px;}
.it-act4-head i {position: absolute; left: 50%; top:10px; margin-left:658px; width:20px; height:20px;cursor: crosshair;background:url(#);border: 1px solid black;}

.header {z-index:1002;color:#949494;font-size:14px;position:relative;zoom:1;}

.head-top {border-bottom:1px solid #eee;color:#999;background:#F8F8F8;line-height: 34px;height: 34px;}
.head-top a{color:#666; margin: 0 5px;}
.head-top a:hover{color:#ff7300;}
.head-top p{display: inline-block; *display: inline;}
/*.head-top>div>p{display: none;}*/
/*.head-top>div>i{color: #eaeaea;}*/
.head-top p img{float: right; margin: 3px 0 0 5px; *display: none;}
.head-top span{margin: 0 10px;}
.head-top dl{padding: 0 5px; position: relative; color: #666; display: inline-block; *display: none;}
.head-top dl.on{background: #fff;}
.head-top dd{position: absolute; background: #fff;padding: 10px 20px 15px; top: 34px;right: 0;z-index: 9; width: 267px; box-shadow: 0 5px 10px #ddd; display: none;}

.hwtrip-cont{width:1200px;margin-left:auto;margin-right:auto;font-family:microsoft yahei;font-size:14px;}

.head-book dd i{font-size: 24px; margin-right: 5px;}
.head-book input{width: 196px; height: 34px; line-height: 34px; border: 1px solid #eaeaea; float: left; margin-right: -1px; text-indent: 12px; color: #999;}
.head-book button{width: 69px; height: 36px; font-size: 14px;}
.head-book .head-hint{float: left; color: #ff7300; line-height: 20px; margin-top: 10px; display: none;}

.head-wechat.on .iconfont{color: #37c81b !important;}
.head-wechat dd{text-align: left; font-size: 13px; line-height: 24px;}
.head-wechat img{width: 76px; height: 76px;}
.head-wechat h3{margin-top: 15px;}
.head-wechat h4{width: 100%; height: 1px; background: #f1f1f1; margin: 20px 0 3px;}

.btn-orange{background:#ff7300;border-radius:2px;color:#fff;}/*btn color*/
.btn-orange:hover{background:#f60;color:#fff;text-decoration:none;}

.header-middle .hwtrip-cont{position:relative;height:114px;zoom:1;}
.header-middle .logo{position:absolute;left:0;top:26px;}
.header-middle .i-adv{position:absolute;top:34px;left:690px;width:184px;height:40px;background-position:0 -815px;overflow:hidden;zoom:1;}
.header-middle .i-adv a{float:left;width:50%;overflow:hidden;height:100%;line-height:999em;}
.header-middle .i-adv .i-tra:hover{background-position:0 -860px;*width:92px;}
.header-middle .i-adv .i-ser:hover{background-position:-90px -860px;*width:92px;}

.header-middle .search{position:absolute;left:240px;top:36px;_width:428px;}
.re-form{border: 0 none;}
.re-form .in-t{float:left;border:2px solid #A4CBFF;border-right:0;height:24px;line-height:24px;width:350px;vertical-align:middle;padding:6px 8px;color:#999;font-size:14px;border-radius:2px 0 0 2px;-moz-transition:all 300ms linear 0ms;-webkit-transition:all 300ms linear 0ms;-o-transition:all 300ms linear 0ms;transition:all 300ms linear 0ms;}
.re-form .in-t:focus{border-right:0;color:#333;box-shadow:inset 2px 2px 3px #d2d2d2;-moz-box-shadow:inset 2px 2px 3px #d2d2d2;-webkit-box-shadow:inset 2px 2px 3px #d2d2d2;}
.re-form .in-b{float:left;height:40px;cursor:pointer;background:url(../img/search-ico.png) no-repeat 50% 50% #A4CBFF;border:0;font:16px/38px microsoft yahei;color:#fff;border:0;text-align:center;width:60px;border-radius:0 3px 3px 0;}

.header-middle .phone{position:absolute;right:0;top:24px;color:#888;text-align:right;color:#949494;}
.header-middle .phone .phone-num{padding-left:30px;color:#ff7300;font:bold 28px/40px Georgia;}
.header-middle .phone .phone-num .i-hot-new{width:25px;height:24px;position:absolute;left:0;top:12px;background-position:-231px -191px;}

.i-hot-new{background:url(../img/i-hot-new.png) no-repeat -2000em 0;}

.navigation{border-bottom:3px solid #4F9AFF;position:relative;zoom:1;}
/*.navigation .other-info{float:right;margin-top:-27px;font-size:0;}
.navigation .other-info a{display:inline-block;vertical-align:top;font-size:14px;border-radius:2px;padding:2px 12px;color:#fff;}
.navigation .other-info a:hover{text-decoration:none;color:#fff;}
.navigation .other-info .for-car{background-color:#ff7300;}
.navigation .other-info .for-car:hover{background-color:#FF841F;}
.navigation .other-info .for-visa{background-color:#4F9AFF;padding:2px 16px;margin-left:7px;}
.navigation .other-info .for-visa:hover{background-color:#3089FF;}
.navigation .i-sub-down{display:inline-block;width:8px;height:6px;background-position:-299px -728px;margin-left:8px;vertical-align:3px;*vertical-align:6px;_font-size:0;}
.navigation .i-sub-up{background-position:-308px -728px;}
.navigation li .pro{position:relative;zoom:1;}*/

#hd,#bd,#ft{min-width:1200px;}
.header{ margin-bottom:0;}
a{ color:#333;}
a:hover{ color:#f60;}
.navigation .navi{/*margin-left:210px;*/}
.navigation .has-des{margin-left:210px;}
.hwtrip-cont{font-family:microsoft yahei;font-size:14px;}
.desti-banner{font-size:14px;position:relative;zoom:1;}


.destination{width:210px;position:absolute;top:-1px;left:50%;margin-left:-600px;z-index:998;box-shadow:2px 2px 2px rgba(12,3,7,0.23);}
.destination .bd{background-color:#fff;padding-top:1px;position:relative;zoom:1;}
.destination .hd .title{font:lighter 16px/30px microsoft yahei;height:30px;text-align:center;background-color:#4F9AFF;color:#fff;text-shadow:1px 1px 1px #233;}


.destination .cur .i-curises{background-position:-314px -673px;}
.destination .cur .i-outbound{background-position:-341px -673px;}
.destination .cur .i-inbound{background-position:-369px -673px;}
.destination .cur .i-islands{background-position:-273px -726px;}
.destination .cur{border-right:0;padding-right:11px;}
.destination .cur .more{display:block;}

.desti-dl{border-bottom:1px solid #D2D2D2;padding:8px 10px;border-right:1px solid #D2D2D2;}
.desti-dl .i-curises{display:inline-block;width:23px;height:23px;background-position:-314px -647px;vertical-align:middle;margin-right:12px;}
.desti-dl .i-outbound{display:inline-block;width:22px;height:22px;background-position:-341px -647px;vertical-align:middle;margin-right:12px;}
.desti-dl .i-inbound{display:inline-block;width:17px;height:21px;background-position:-369px -648px;vertical-align:middle;margin-right:12px;}
.desti-dl .i-islands{display:inline-block;width:23px;height:31px;background-position:-248px -726px;vertical-align:middle;margin-right:12px;}

.desti-dl .tit{display:block;color:#333;font-weight:lighter;margin-bottom:7px;}
.desti-dl dd a{white-space:nowrap;line-height:26px;margin-right:6px;}
.desti-dl dd a strong{color:#949494;font-weight:lighter;}
.desti-dl dd a.em-a strong{color:#ff7300;}
.desti-dl dd a:hover strong{color:#ff7300;}

.desti-dl .more{position:absolute;left:100%;top:0;padding:10px 26px;background-color:#fff;width:290px;min-height:383px;border-right:1px solid #D2D2D2;border-bottom:1px solid #D2D2D2;display:none;}
.desti-dl .more .tit{color:#040000;line-height:30px;font-size:14px;margin-bottom:0;}
.desti-dl .more .more-c{border-bottom:1px solid #D2D2D2;padding:4px 0;margin-bottom:6px;}
.desti-dl .more .more-c:last-child{border-bottom:0;}
.desti-dl .more .more-c a{line-height:24px;}



